<!DOCTYPE html>
<html>
<h1>Welcome to E-commerce App</h1>
<body>
<%= image_tag("ecomm.jpg", width: '900px', height: '400px')%>
<br>
Ecommerce is the buying and selling of goods and services over the Internet. It is conducted over computers, tablets, smartphones, and other smart devices. Almost anything can be purchased through ecommerce today.
</body>
</html>

